@page
@model Assignment2_17_VuDucHuy.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].quantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].unitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].productImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.categoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.productID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.productID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.productID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
