@page
@model Assignment2_17_VuDucHuy.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.fullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.fullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.password)
        </dt>
        <dd class="col-sm-10">
            ********
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.type)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer?.customerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
